* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    color: black;
}

html {
    width: 100vw;
    /*height: 100vw;*/
}

main {
    width: 1000px;
    min-height: 100vh;
    padding-top: 20px;
    margin: 0 auto;
    border: 1px solid grey;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_title{
    font-size: 1.5rem;
    color: darkgreen;
    font-weight: bold;
    margin-bottom: 30px;
}

.acc_wrapper{
    border: 1px solid green;
    width: 75%;
    margin-bottom: 40px;
    padding: 20px 5px;


    display: flex;
    flex-direction: column;
}

.info_block{
    display: flex;
    justify-content: space-around;
}

.avatar{
    width: 28%;

    display: flex;
    flex-direction: column;
}
img{
    max-height: 250px;
}

.message{
    color: blue;
    margin-bottom: 25px;
}

.acc_info{
    width: 30%;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc_login{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 22px;
}


.forms{
    margin-top: 30px;
    width: 30%;

    display: flex;
    justify-content: space-between;
    align-self: center;
}

input{
    width: 100px;
    height: 35px;
}
