* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: black;
}

header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, rgb(247, 209, 209), #fff7fb);
    position: relative;
    z-index: 10;

    border-bottom: 1px solid green;
    display: block;
}

.header-content{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 110px;
    height: 59px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    width: 200px;
    height:58px;
}

.panel{
    width: 60%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.panel-item{
    margin-right: 8%;
}

.panel-item a{
    text-decoration: none;
}

.panel-item a:hover{
    text-decoration: underline;
    color: green;
}

.user{
    width:20%;
    padding-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user img{
    height: 59px;
    width: 68px;
    margin: 0 10px;
}
.header-content .user form{
    margin: 0;
    padding: 0;
    border: none;
}

.header-content .user form:first-child{
    margin-right: 15px;
}
.header-content .user form:last-child{
    margin-right: 30px;
}

.user_login{
    margin-right: 35px;
}
.user form input{
    border: 1px solid #313131;
    margin: 0;
    padding: 0;
    width: 120px;
}